h1{
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(10, 169, 98, 0.2);
    transition: transform 0.2s;

}
button{
    background-color: rgb(5, 188, 69);
    font-family: 'Times New Roman', Times, serif;
    
}

button:hover{
    background-color: lightgreen;
}