<div class="d-flex justify-content-end">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item p-2">
          <a routerLink="home" class="nav-link btn btn-primary me-3 p-2">🏠 Home</a>
        </li>
        <li class="nav-item p-2">
          <a routerLink="order-history" class="nav-link btn btn-primary me-3 p-2">🛒 Order History</a>
        </li>
        <li class="nav-item p-2">
          <a routerLink="customer-support" class="nav-link btn btn-primary me-3 p-2">🤵‍♀️️ Customer Support</a>
        </li>
        <li class="nav-item p-2">
          <a routerLink="logout" class="nav-link btn btn-primary me-3 p-2" >Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<!-- <style>
  /* Change button color on hover to primary color */
  .navbar-nav .nav-link.btn-primary:hover {
    background-color: transparent;
    color: black; /* Change to your desired hover color */
  }
</style> -->













<!-- Should Add router-outlet to capture the component -->
<router-outlet></router-outlet>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->