<h1>Your Orders</h1>

<br />
<table class="table table-ordered"  >
  <thead class="link-success">
    <tr>
      <th>Order Id</th>
      <th>Product Name</th>
      <th>Order Date</th>
      <th>Payment Mode</th>
    </tr>
  </thead>
  <tbody >
    <tr  *ngFor="let item of OrdersList" >
      <td >
        <!--using routerLink-->
        <a [routerLink]="['../order-details', item.Id]">{{item.Id}}</a>

        <!--using (click) adding logic to navigate in the order-history.component.ts file-->
        <!--Passing the item.Id as a argument to the navOrderDetails() function-->

        <!-- <a class="link-primary"  style="cursor: pointer" (click)="navOrderDetails(item.Id)">{{ item.Id }} </a > -->
            
        <!-- Query Parameter -->

        <!-- <a [routerLink]="['../order-details']" [queryParams]="{'Id': item.Id}">{{item.Id}}</a> -->
        <!--using (click) adding logic to navigate in the order-history.component.ts file-->
        <!-- <a class="link-primary"  style="cursor: pointer" (click)="navOrderDetails(item.Id)">{{ item.Id }} </a > -->
        
            

        <!-- Fragment Parameter -->

        <!-- <a [routerLink]="['../order-details']" fragment= "{{item.Id}}">{{item.Id}}</a> -->
        <!--using (click) adding logic to navigate in the order-history.component.ts file-->
        <!-- <a class="link-primary"  style="cursor: pointer" (click)="navOrderDetails(item.Id)">{{ item.Id }} </a > -->
        


      </td>
      <td>{{ item.ProductName }}</td>
      <td>{{ item.OrderDate }}</td>
      <td>{{ item.PaymentMode }}</td>
    </tr>
    <!-- <tr>
            <td>#1075</td>
            <td>Teamspirit Men Sweatshirt</td>
            <td>25-01-2025</td>
            <td>Prepaid</td>
        </tr>
        <tr>
            <td>#1065</td>
            <td>Denim Men's Jeans</td>
            <td>15-10-2025</td>
            <td>Postpaid</td>
        </tr>
        <tr>
            <td>#7884</td>
            <td>Micheal Kors Watch</td>
            <td>30-01-2025</td>
            <td>Prepaid</td>
        </tr> -->
  </tbody>
</table>
<br />

<!-- 
<p>
  To Redirect To Home Page Click the Link
  <a routerLink="/home"> Go To Home</a>
</p>
<br />
<br />

<p>
  To Contact Customer Support click the link
  <a routerLink="/customer-support"> Customer Support</a>
</p> -->


<!--using routerlink-->
<!-- <button routerLink="/order-history/moredetails"   class = "btn btn-secondary">More Details</button> |
<button routerLink="/order-history/benefits"   class = "btn btn-danger">Benefits</button> -->


<!--using click, and router.navigate in order-history.ts file-->
<button (click)="naviMoreDetails('moredetails')"   class = "btn btn-secondary">More Details</button> |
<button  (click)="naviMoreDetails('benefits')"  class = "btn btn-danger">Benefits</button>

<br>
<br>

<!--To capture the data of children [moredetails] component, we should mention the  router-outlet in the parent[order-history] component-->

<router-outlet></router-outlet>