<h1>Your Orders</h1>

<br>
<table class = "table table-ordered">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Payment Mode</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of OrdersList">
            <td><a [routerLink]="['../order-details', item.Id]">{{item.Id}}</a></td>
            <td>{{item.ProductName}}</td>
            <td>{{item.OrderDate}}</td>
            <td>{{item.PaymentMode}}</td>
        </tr>
        <!-- <tr>
            <td>#1075</td>
            <td>Teamspirit Men Sweatshirt</td>
            <td>25-01-2025</td>
            <td>Prepaid</td>
        </tr>
        <tr>
            <td>#1065</td>
            <td>Denim Men's Jeans</td>
            <td>15-10-2025</td>
            <td>Postpaid</td>
        </tr>
        <tr>
            <td>#7884</td>
            <td>Micheal Kors Watch</td>
            <td>30-01-2025</td>
            <td>Prepaid</td>
        </tr> -->
    </tbody>
</table>
<br>
<br>
<br>


<a routerLink='/home'>Go To Home</a>
<br>
<br>
<p> To Contact Customer Support click the link <a routerLink="/customer-support">Customer Support</a></p>
