h1,
h3,
p,
a {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    background-color: rgb(5, 188, 69);
    font-family: 'Times New Roman', Times, serif;
    
   
}


button:hover {
    background-color: lightgreen;
}