<div class="row" *ngIf="recordsList.length == 0">
    <div class="col-md-8">
      <h1>Order Details</h1>
      <p>
        Welcome to the Order details page. Seems that you have not selected any
        Order Id from the Orders Page . Please select the Order Id . Below is
        the Page to select the Order Id
        <a class="" [routerLink]="['../order-history']"> Order History</a> . So that
        you can view the orders
      </p>
    </div>
  </div>


  
  <ul  style = "list-style: none;">
    <li *ngFor = "let item of recordsList">
      <h2>Order ID: #{{item.Id}} Details</h2>
      <br>
      <p><strong>ID : </strong>{{item.Id}}</p>
      <p><strong>ProductName : </strong>{{item.ProductName}}</p>
      <p><strong>PaymentMode : </strong>{{item.PaymentMode}}</p>
      <p><strong>OrderDate : </strong>{{item.OrderDate}}</p>
      <p><strong>ContactNo : </strong>{{item.ContactNo}}</p>
      <p><strong>Address : </strong>{{item.Address}}</p>
    </li>
  </ul>



  <!-- <p class = "link-primary">To Select Other Order ID Click the link <a [routerLink]="['../../order-details/:OrderId/order-history']">Go To Orders</a></p> -->
